
/* .main{
    z-index: 2;
} */


.background-radius{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
  

}
.backgound-yellow{
    background-color: #fce847;
    margin: 0;
    padding: 0;
}
.menu-1{
    height: 30px;

}
.company-name{
    font-weight: 500;
    font-size: 25px;
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.navbar-brand i{
   font-size: 30px;
}
.heading-phone i{
  font-size: 40px;
}
.company-contact-no{
    font-size: 19px;
    font-weight: 800;
    line-height: 14px;
}
.company-contact-no-name{
    font-size: 10px;
}
.menu{
   
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 2px;
    color: black;
}

.menu-bar{
 
    /* margin-left: 76%;
    margin-bottom: 30px; */
    display: flex;
    justify-content:end;
  
    
}

/* middle-1  */
.design{
    width: 180px;
    height: 200px;
   position: relative;
   bottom: 100px;
   margin-left: -13px;
}
.middle-1-left-part-are{

    font-size: 90px !important;
    font-family: "Birthstone", cursive;
    font-weight: 700;
   

}
.middle-1-left-part-dont{
    font-size: 90px !important;
    font-weight: 500 !important;
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
      margin-top: -20px;
}


.middle-1-left-part-let{
    font-weight: 800;
    /* width: 50%;          method    1. for hori*/
}

.hori{                  /*   method   2.     */
    width: 60%;
    margin-left: 130px;
}
.middle-1-left-part-this-monday{
    
    margin-left: 200px !important;
    
}
.middle-1-button {
    background-color: #fce847;
    width: 150px;
    font-size: 15px;
    font-weight: 700;
}
.middle-2-button:hover{
    background-color: black;
    color: white;

}
.middle-1-left-part-this-monday{
    font-size: 15px ;
}
.middle-1-left-part-this-monday-one-plus-one{
    font-size: 50px;
    font-weight: 500;

    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
    
}
.middle-part-1-right-image{
    width: 70%;
   margin-left: 100px;
    margin-top: 1% !important;
}
/* .row{
    max-width: 200% !important;
} */

/* middle-2  */
/* .middle-2-choose{
    margin-left: -50px;
} */
.middle-2{
    margin-top: 60px;
}
.middle-2-discover{
    font-size: 20px;
}
.middle-2-heading{
    font-size: 50px;

    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}
.middle-2-image{
    /* margin-top: -60px; */
}
.middle-2-image img{
    margin-top: 30px !important;
    width: 300px;
   
}


.middle-2-upcoming{
    font-size: 50px;
    font-weight: 500;

    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;

}
.middle-2-card-details{

    font-size: 13px;
}
.middle-2-button{
    
        background-color: #fce847;
        width: 180px;
        height: 50px;
        font-size: 15px;
        font-weight: 700;
    
}
/* .yellow-strip{
    width: 100%;
    height: 100px;
   position: relative;
   bottom: -240px;
   
    background-color: #f5df3f;

} */

/* middle-2  */
/* .middle-2{
    width: 100%;
    height: 50%;
} */
.carousel-item img{
    width: 65%;
    height: 25%;
    
}

/* end  */

.end-image-1{
    height: 50%;
}
.end-image-2{
    height: 50%;
}
.end-image-1 img{
    width: 100%;
   
}
.end-image-2 img{
    width: 100%;
}
.end-image-2-1{
 
    width: 100%;
    height: 195px;
}

.end-info{
    position: relative;
    left: 30px;
    bottom: 270px;
}
.end-info-1{
    position: relative;
    left: 20px;
    bottom: 150px;
    width: 100;
}
.end-info-2{
    position: relative;
    left: 20px;
    bottom: 120px;
}
.end-image-part-2{
    height: 220px;

}




@media(max-width:500px){

    /* end  */

    .end-image-1 img{
        width: 100%
    }
    .end-image-2 img{
        width: 100%;
    }
    .end-image-2-1{
     
        width: 100%;
        /* height: 40%; */
    }
}






@media(max-width:500px){
    .company-menu a{
        text-decoration: none;
        font-weight: 700;
        /* font-size: 10px; */
        /* letter-spacing: 5px; */
        color: black;
    }
    
    .middle-1-left-part-are{
    
        font-size: 40px !important;
    }
    .middle-1-left-part-dont{
        font-size: 50px !important;
        font-weight: 700;
        
    }
    .middle-1-left-part-let{
        font-weight: 800;
        font-size: 10px;
    }
    .middle-1-left-part-this-monday{
    
        margin-left: 30px !important;
        
    }
    .middle-1-left-part-this-monday{
        /* margin-left: 40px; */
    }
    .middle-1-left-part-this-monday-one-plus-one{
        /* font-size: 40px; */
        
    }
    .middle-part-1-right-image{

        margin-left: 40px;
        margin-top: 20px !important;
    }

    /* .middle-part-1-right-image{
        width: 100%;
        margin-left: 1%;
        margin-top: 20%;
    } */
    /* middle-2  */

    .design{
        display: none;
    }
.middle-2-heading{
    font-size: 50px;
}
.middle-2-image{
    /* margin-top: 90px; */
}
.middle-2-image img{
    margin-top: 40px !important;
    width: 250px;
}

/* middle-2  */
/* .middle-2{
    width: 100%;
    height: 50%;
} */

.hori{                  /*   method   2.     */
    width: 60%;
    margin-left: 60px;
}
.carousel-item img{
    width: 85%;
    height: 25%;
    
}
  /* end  */
  .end-image-1 img{
    width: 100%
}
.end-image-2 img{
    width: 100%;
}
.end-image-2-1{
 
    /* width: 100%; */
    /* height: 40%; */
}
.end-info{
    position: relative;
    left: 10px;
    bottom: 150px !important;
}
.end-info-1{
    position: relative;
    left: 10px;
    bottom: 180px !important;
    width: 100;
}
.end-info-2{
    position: relative;
    left: 10px;
    bottom: 130px !important;
}
.end-image-part-2{
    height: 250px;

}

}

@media (min-width: 768px){
    .company-menu a{
        text-decoration: none;
        font-weight: 700;
        /* font-size: 10px; */
        /* letter-spacing: 5px; */
        color: black;
    }
    /* .middle-1{
     width: 600px !important;
    
    } */
    
    .middle-1-left-part-are{
    
        font-size: 50px !important;
    }
    .middle-1-left-part-dont{
        font-size: 40px;
        font-weight: 700;
    }
    .middle-1-left-part-let{
        font-weight: 800;
        font-size: 20px;
    }
    .middle-1-left-part-this-monday{
    
     margin-left: 230px !important;        /* 11111111111111111111111     */
        
    }
    .middle-1-left-part-this-monday{
        /* margin-left: 40px; */
        /* font-size: 10px; */
    }
    .middle-1-left-part-this-monday-one-plus-one{
        /* font-size: 40px; */
       
    }
    /* .middle-part-1-right-image{
        
        margin-left: 1%;
        margin-top: -10% !important;
    } */
    /* end  */
    .end-image-1 img{
        width: 100%
    }
    .end-image-2 img{
        width: 100%;
    }
    .end-image-2-1{
     
        width: 100%;
       
    }
    .end-info{
        position: relative;
        left: 30px;
        bottom: 70px !important;
    }
    .end-info-1{
        position: relative;
        left: 20px;
        bottom: -50px !important;
        width: 100;
    }
    .end-info-2{
        position: relative;
        left: 20px;
        bottom: 10px;
    }
    .end-image-part-2{
        height: 220px;
    
    }
    .end-info{
        position: relative;
        left: 40px;
        bottom: 400px !important;
    }
    .end-info-1{
        position: relative;
        left: 20px;
        bottom: 180px !important;
        width: 100;
    }
    .end-info-2{
        position: relative;
        left: 20px;
        bottom: 130px !important;
    }
    .end-image-part-2{
        height: 250px;
    
    }
    .try{
        font-size: 30px !important;
    }
    .most{
        font-size: 40px;
    }

}


/* laptop  */


@media (min-width: 1024px){
    .company-menu a{
        text-decoration: none;
        font-weight: 700;
        /* font-size: 10px; */
        /* letter-spacing: 5px; */
        color: black;
    }
    /* .middle-1{
     width: 600px !important;
    
    } */
    
    .middle-1-left-part-are{
    
        font-size: 50px !important;
    }
    .middle-1-left-part-dont{
        font-size: 75px !important;
        font-weight: 700;
    }
    .middle-1-left-part-let{
        font-weight: 800;
        font-size: 10px;
    }
    .middle-1-left-part-this-monday{
        margin-left: 100px !important;
        /* font-size: 10px; */
    }
    .middle-1-left-part-this-monday-one-plus-one{
        /* font-size: 40px; */
    
    }
    .middle-part-1-right-image{
       
        margin-left: 20%;
        margin-top: -10% !important;
        
    }
    /* middle-2  */
.middle-2-heading{
    font-size: 50px;
}
.middle-2-image{
    /* margin-top: -60px; */
}
.middle-2-image img{
    /* margin-top: 60px; */
    width: 250px;
}
.yellow-strip::before{
    content: "";
    position: absolute;
    height: 13% !important;
    width: 91.5% !important;
    background-color: #e3ecaa;
    z-index: -1;
  
    bottom: -315px !important;
}
.hori{                  /*   method   2.     */
    width: 60%;
    margin-left: 100px;
}


/* end  */
.end-image-1 img{
    width: 100%
}
.end-image-2 img{
    width: 100%;
}
.end-image-2-1{
 
    width: 100%;
    height: 135px;
   
}
.end-info{
    position: relative;
    left: 40px;
    bottom: 270px !important;
}
.end-info-1{
    position: relative;
    left: 20px;
    bottom: 150px !important;
    width: 100;
}
.end-info-2{
    position: relative;
    left: 20px;
    bottom: 100px !important;
}
.end-image-part-2{
    height: 160px;

}


}


/* laptop  */


@media (min-width: 1440px){
    .company-menu a{
        text-decoration: none;
        font-weight: 700;
        /* font-size: 10px; */
        /* letter-spacing: 5px; */
        color: black;
    }
    /* .middle-1{
     width: 600px !important;
    
    } */
    
    .middle-1-left-part-are{
    
        font-size: 50px !important;
    }
    .middle-1-left-part-dont{
        font-size: 80px !important;
        font-weight: 700;
    }
    .middle-1-left-part-let{
        font-weight: 800;
        font-size: 20px !important;
    }
    .middle-1-left-part-this-monday{
        margin-left: 200px !important;
        /* font-size: 10px; */
    }
    .middle-1-left-part-this-monday-one-plus-one{
        /* font-size: 40px; */
    
    }
    .middle-1-button{
        width: 30%;
    }
    /* .middle-part-1-right-image{
        width: 100%;
        margin-left: 1%;
        margin-top: 20%;
    } */
    /* middle-2  */
.middle-2-heading{
    font-size: 50px;
}
.middle-2-image{
    /* margin-top: -60px; */
}
.middle-2-image img{
    /* margin-top: 60px; */
    width: 250px;
}
.middle-2-details{
    width: 80%;
  margin-left: 10%;
}
.yellow-strip::before{
    content: "";
    position: absolute;
    height: 10% !important;
    width: 90% !important;
    background-color: #e3ecaa;
    z-index: -1;
  
    bottom: -120px !important;
}
.hori{                  /*   method   2.     */
    width: 60%;
    margin-left: 130px;
}

/* end  */
.end-image-1{
    height: 50%;
}
.end-image-2{
    height: 100% !important;
}
.end-image-1 img{
    width: 100%
}
.end-image-2 img{
    width: 100%;
}
.end-image-2-1{
 
    width: 100%;
    height: 195px !important;
}
.end-info{
    position: relative;
    left: 40px;
    bottom: 370px !important;
}
.end-info-1{
    position: relative;
    left: 20px;
    bottom: 190px !important;
    width: 100;
}
.end-info-2{
    position: relative;
    left: 20px;
    bottom: 150px !important;
}
.end-image-part-2{
    height: 220px;

}

}