.header-part-icons img{
    width:50px; 
    height:50px;
   
}
.middle-part-3{
    width: 330px;
    height: 600px;
}
.middle-part-3-heart img{
    width: 15px;
   
}
.middle-part-3-dish1{
    width: 70%;
}
.middle-part-3-heart {
    width: 25px;
    height:25px;
    
}
.card{
    width: 150px;
    height: 170px;
}
.card-info{
    font-size: 10px;
}
.card-price{
    font-size: 15px;
}
.card-2{

    width: 200px;
    height: 110px;
}
.middle-part-3-dish1-3{
    width: 60%;
}
.cart1{
    width: 2.8rem;
    height: 3rem;
}
.middle-part-3-2{
    width: 330px;
    height: 600px;
}
.middle-part-3-2-dish-4{
    width: 350px;
    height: 350px;
    position:absolute;
    right: 590px;
}
.middle-part-3-2-card{
    font-size: 30px;
   
}
.arrow{
    font-size: 30px;
    margin-top: 15px;
}
.middle-part-3-2-button{
    width: 150px;
    position: absolute;
    left: 700px;

}
